/*
 * Empty Stylesheet file.
 */


.root{
    
}

.style-dark {
   -fx-background-color: rgb(95,95,95);
   -fx-background: rgb(85,80,70);
   -fx-color: rgb(95,95,95);
   -fx-text-fill: #ebd2c3;
}

.bordered {
    -fx-border-width:2px;
    -fx-border-style:solid;
    -fx-border-color:#555555;
}

.popup_bordered {
    -fx-border-width:4px;
    -fx-border-style:solid;
    -fx-border-color:#c7643acc;
    -fx-background-radius:20px;
    -fx-border-radius:20px;
}
.popup_title_bordered {
    -fx-border-width:2px;
    -fx-border-style:solid;
    -fx-border-color:#555555;
    -fx-background-radius:17px;
    -fx-border-radius:15px;
}

.drop-shadow {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 12, 0.0 , 10 , 10 );
}

.drop-light {
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.6) , 8, 0.0 , 3 , 3 );
}

.edit-dark {
    -fx-background-color:#ffffff66;
    -fx-border-width:2px;
    -fx-border-style:solid;
    -fx-border-color:#c7643a88;
    -fx-text-fill:#ebd2c3;
    -fx-cursor: text;
}

.edit-dark:active {
    -fx-border-color:#c7643aaa;
    -fx-text-fill:#c7643a;
}

.button-dark {
	-fx-box-shadow:inset 0px 3px 10px 0px #444444;
	-fx-background-radius:10px;
        -fx-background-color:#777777;
	-fx-border-radius:5px;
	-fx-border-width:2px;
        -fx-border-style:solid;
        -fx-border-color:#c7643a;
	-fx-display:inline-block;
	-fx-cursor:default;
	-fx-text-fill:#ebd2c3;
	-fx-font-family:Arial;
	-fx-font-size:12px;
	-fx-font-weight:bold;
	-fx-padding:8 14 8 14;
	-fx-text-decoration:none;
}
.button-dark:hover {
	-fx-background-color:#888888;
        -fx-border-color:#d7743a;
        -fx-font-size:14px;
}
.button-dark:active {
	-fx-position:relative;
	-fx-top:1px;
        -fx-border-color:#604040;
}

